@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #root, .App {
  min-height: 100vh;
  margin: 0;
  
  background-color: #121212;
  color: white;
  
  background-image: 
    radial-gradient(at 10% 20%, rgba(255, 100, 0, 0.2) 0%, transparent 60%),
    radial-gradient(at 90% 80%, rgba(100, 0, 0, 0.4) 0%, transparent 60%);

}

.app {
  display: flex;
  width: 100%;
  flex-direction: column;
}